.quiz{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px; 
}
.quiz-heading {
    text-align: center;
}
.quiz-heading-title {
    font-size: 40px;
    font-weight: bold;
}
